body {
background-color:hsl(192, 83%, 31%);
}

h1{
color:yellow;
text-align:center;
}

p{
color:yellow;
text-size: 20px;
}

a {
color:yellow;
background:hsla(9, 100%, 64%, 0);
}



video/mp4 {
text-align:center;
}


td {
    color: yellow;
}

a:hover {
      color: rgb(27, 46, 219);
    }

a:active {
      color: tomato;
    }
input:focus {
background-color: yellow;
}

