body {
background-color:lightblue;
}

h1{
color:yellow;
text-align:center;
}

p{
color:verdana;
text-size: 20px;
}

a {
color:yellow;
background:lightblue;
}



video/mp4 {
text-align:center;
}

p.one {
  border-style: solid;
  border-color: red;
}

p.ones {
border-bottom: solid #ff0000;
}